<div class = "card container form-container">
  <div class = "row">
    <div class = "col-md-6">
      <h1>Create the New Proposal</h1>
        <div>
          <form (ngSubmit) = "createProposal(proposal)" #proposalForm = "ngForm"> <!--name of the form proposalForm of type angular form-->
            <div class = "form-group">
              <label for = "customer">Customer </label><!--[read data in (set value in)]-->
              <input type = "text"
                     class = "form-control" 
                     id = "customer"
                     placeholder="ABC Company"
                     required
                     name = "customer" 
                     #customer = 'ngModel' 
                     [(ngModel)] = "proposal.customer" 
              >
              <div [hidden] = "customer.valid || customer.pristine" > <!--pristine = virgin(the attribute is untouched)-->
                Customer name is required
                
              </div>
              </div>

              <div class = "form-group">
                <label for = "portfolio_url">Portfolio_Url </label>
                <input type = "text"
                       class = "form-control"
                       id = "portfolio_url"
                       required
                       name = "portfolio_url" 
                       #portfolio_url = 'ngModel' 
                       [(ngModel)] = "proposal.portfolio_url"
              >
              <div [hidden] = "portfolio_url.valid || portfolio_url.pristine">
                Please provide the link to your portfolio
              </div> 
             
              </div>

              <div class = "form-group">
                <label for = "tools">Tools </label>
                <input type = "text"
                       class = "form-control"
                       id = "tools"
                       required
                       name = "tools" 
                       #tools = 'ngModel' 
                       [(ngModel)] = "proposal.tools"
              >
              <div [hidden] = "tools.valid || tools.pristine">
                Please specify the tools to be used
              </div> 
              
              </div>

              <div class = "form-group">
                <label for = "estimated_hours">Estimated Hours </label>
                <input type = "number"
                       class = "form-control"
                       id = "estimated_hours"
                       required
                       name = "estimated_hours" 
                       #estimated_hours = 'ngModel' 
                       [(ngModel)] = "proposal.estimated_hours"
              >
              <div [hidden] = "estimated_hours.valid || estimated_hours.pristine">
                Please specify the estimated time of completion
              </div> 
             
              </div>    

              <div class = "form-group">
                <label for = "hourly_rate">Hourly Rate </label>
                <div class = "input-group mb-3">
                  <div class="input-group">
                    <span class = "input-group-text" id = "basic-addon1">$</span>      
                    <input type = "number"
                           class = "form-control"
                           id = "hourly_rate"
                           required
                           name = "hourly_rate" 
                           #hourly_rate = 'ngModel' 
                           [(ngModel)] = "proposal.hourly_rate"
                    >
                  </div>
                </div>
              <div [hidden] = "hourly_rate.valid || hourly_rate.pristine">
                Please provide the hourly rate
              </div> 
            
              </div>   

              <div class = "form-group">
                <label for = "client_email">Client Email <em>(Optional)</em></label>
                <input type = "email"
                       class = "form-control"
                       id = "client_email"
                       name = "client_email" 
                       #client_email = 'ngModel' 
                       [(ngModel)] = "proposal.client_email"
              >
              </div>

              <button type = "submit"
                      class = "btn btn-outline-primary btn-lg"
                      [disabled] = "!proposalForm.form.valid"
                      [hidden] = "submitted"
              >
                Generate Purposal
              </button>

              <div
                [hidden] = "!submitted"
                class = "alert alert-success"
                role = "alert"
               >
                Your proposal has been generated
                <a class = "alert-link" routerLink = "/proposals">View all Proposal</a>
              </div>







          </form>
        </div>
      </div>

      <div class = "col-md-6">

        <!--value reading in from the component, also to have what happens inside ip else somewhere in the page
            name of the input customer, as the customer is of type Angular Model
        -->
        <div>
          <p>Hi {{ proposal.customer }}, </p>

          <p>It was pleasure getting to meet you and review your project requirements, I believe it is a great fit for the types of applications that I build out.Please feel free to checkout some of my past projects <a href = "{{proposal.portfolio_url}}">here</a></p>

          <p>To successfully build out the application I will be utilizing {{proposal.tools}}, and a number of other tools to ensure that the projects follows industry wide best practices</p>

          <p>Ensuring that you fully informed is one of my top priorities, so in addition to incorporating everything we discussed, I will also be creating a project management dashboard and sending you a project management dashboard and sending you a project update message daily so that you can have a transparent view of the development as it takes place</p>

          <p>To accomplish the project and meet the requirements that we discussed, I am estimating that it will take {{ proposal.estimated_hours }} hours in development time to complete. The project should take {{proposal.weeks_to_complete }} weeks to complete and with my hourly rate of {{proposal.hourly_rate}}/hour, the estimated total will be {{proposal.hourly_rate * proposal.estimated_hours | currency : 'USD' : true : '.0'}}.</p>

          <p>The next step from here is to set up a meetimg to finalize the project and sign contracts</p>

          <p>I am excited to working with you and build out this project</p>

        </div>
      </div>
  </div>
</div>